{% extends 'home.html' %}
{% block content %}

    <div class="col-8 m-auto pt-3 pb-2 text-center"  >
        <h1>Configurações Marketplaces</h1>
    </div>
    <div>
        <div class="col-8 m-auto pt-4 pb-2 text-center">
            <a href="/marketplace/" class="btn btn-outline-dark">Voltar</a>
        </div>
    </div>
    <div class="table-responsive-md px-md-4">
        <table class="table table-hover pt-50">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Apis</th>
                    <th scope="col">Keys</th>
                    <th scope="col">Endpoints</th>
                    <th scope="col">Marketplace</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for dbs in model %}
                <tr>
                    <td>{{dbs.id}}</td>
                    <td>{{dbs.apis}}</td>
                    <td>{{dbs.keys}}</td>
                    <td>{{dbs.endpoints}}</td>
                    <td>{{dbs.marketplace}}</td>
                    <td>
                        <a href="form/?id={{dbs.id}}" class="class btn btn-primary">Editar</a>
                        <a href="delete/?id={{dbs.id}}" class="class btn btn-danger btnDel">Deletar</a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <a href="form" type="submit" class="btn btn-outline-dark">Adicionar</a>
    </div>
{% endblock %}