{% extends 'marketplace.html' %}
{% block content %}
    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <h1>Configurações Marketplace</h1>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <div class="col-8 m-auto pt-4 pb-2 text-center">
            <a href="/marketplace/configs/" class="btn btn-outline-dark">Voltar</a>
        </div>
    </div>
    <div class=" m-auto text-center" id="result"></div>
    <form class="form-control form-control-lg" name="form" id="form" action="save">
        <div class="col-12 m-auto pt-6 pb-4 text-center">
            <label for="apis">Apis</label>
            <div><input type="text" name="apis" id="apis" value="{%if data %}{{data.apis}}{%endif%}"></div>
            <label for="keys">Keys</label>
            <div><input type="text" name="keys" id="keys" value="{%if data %}{{data.keys}}{%endif%}"> </div>
            <label for="endpoints">Endpoints</label>
            <div><input type="text" name="endpoints" id="endpoints" value="{%if data %}{{data.endpoints}}{%endif%}"></div>
            <label for="marketplace">Marketplace</label>
            <div>
                {% if not data %} 
                    <select id="marketplaces" name="marketplace">
                    {% for item in data_market %} 
                        <option value="{{item.id}}">{{item.name}}</option>
                    {% endfor %}
                    </select>
                {% else %}
                    <input type="text" value="{%if data %}{{data.marketplace}}{%endif%}" readonly>
                    <input type="hidden" name="marketplace" id="marketplace" value="{%if data %}{{data.id}}{%endif%}" readonly>
                {% endif %}
            </div>
            <input type="hidden" name="id" id="id" value="{%if data %}{{data.id}}{%endif%}">
            <div><br></div>
            <input type="submit" class="btn btn-outline-dark" value="Salvar">
        </div>
    </form>
{% endblock %}
