<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <title>Seller</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <h1>Seller</h1>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <div class="col-8 m-auto pt-4 pb-2 text-center">
            <a href="/" class="btn btn-success">Home</a>
            <a href="/form" class="btn btn-success">Voltar</a>
        </div>
    </div>
    <div class=" m-auto text-center" id="result"></div>
    <form class="form-control form-control-lg" name="form" id="form"
        action="{% if db %}/update/{{db.id}}/{% else %}/create/{% endif %}" method="post">
        {% csrf_token%}
        <div class="col-12 m-auto pt-6 pb-4 text-center">
            <label for="nome">Nome</label>

            <div><i class="form-group mt-6 col-12" id="nome" placeholder="Nome:"> {{form.name}}</i></div>
            <label for="nome">CPF</label>
            <div><i class="form-group mt-6    col-12" id="CNPJ" placeholder="CNPJ:"> {{form.cpf}}</i></div>
            <label for="nome">Email</label>
            <div><i class="form-group mt-6    col-12" id="Email" placeholder="Email:"> {{form.email}}</i></div>
            <label for="nome">Telefone</label>
            <div><i class="form-group mt-6    col-12" id="Telefone" placeholder="Telefone:"> {{form.phone}}</i></div>
            <input type="submit" class="btn btn-success" value="Salvar">
        </div>
    </form>
    {% load static %}
    <script src="{% static 'JavaScript.js' %}"></script>




    




</body>

</html>