{% extends 'home.html' %}
{% block content %}
<body>
  <div class="col-8 m-auto pt-3 pb-2 text-center"  >
    <h1>Endereços</h1>
  </div>
    <div>
      <div class="col-8 m-auto pt-4 pb-2 text-center">
        <a href="/sellerapp/index_address/" class="btn btn-outline-dark">Voltar</a>
      </div>
    </div>
  <div class="col-4 m-auto pt-3 pb-2 text-center">
      <form method="get"> 
          <input type="text" id="search" name="search" class="form-control" placeholder="Buscar..."></div>
      </form>
    </div>
    <div class="table-responsive-md px-md-4">
      <table class="table table-hover pt-50">
        <thead class="table-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Estado</th>
            <th scope="col">Cidade</th>
            <th scope="col">Bairro</th>
            <th scope="col">Rua</th>
            <th scope="col">Numero</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for dbs in db %}
          <tr>
            <td>{{dbs.id}}</td>
            <td>{{dbs.state}}</td>
            <td>{{dbs.city}}</td>
            <td>{{dbs.district}}</td>
            <td>{{dbs.street}}</td>
            <td>{{dbs.number}}</td>
            <td>
              <a href="/sellerapp/view_address/{{dbs.id}}/" class="class btn btn-dark">Visualizar</a>
              <a href="/sellerapp/edit_address/{{dbs.id}}/" class="class btn btn-primary">Editar</a>
              <a href="/sellerapp/delete_address/{{dbs.id}}/" class="class btn btn-danger btnDel">Deletar</a>
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-8 m-auto pt-4 pb-2 text-center">
    <a href="/sellerapp/form_address" type="submit" class="btn btn-outline-dark">Adicionar</a>
  </div>
  <div class="container">                 
    <ul class="pagination">

      {% if db.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{db.previous_page_number}}">Previous</a></li>
      {%  endif %}


      {% if db.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{db.previous_page_number}}">1</a></li>
      {%  endif %}

           <li class="page-item"><a class="page-link" >{{db.number}}</a></li>

      {% if db.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{db.next_page_number}}">2</a></li>
      {%  endif %}


      {% if db.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{db.next_page_number}}">Next</a></li>
      {%  endif %}

    </ul>
  </div>
{% endblock %}
